.movie_detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie_detail img {
  display: block;
  max-width: 100%;
  margin-bottom: 2rem;
}

.movie_detail h2 {
  margin-bottom: 0.5rem;
}

.movie_detail .plot {
  margin-bottom: 1rem;
  color: #696969;
}

.sub_info {
  display: flex;
  margin-bottom: 1rem;
}

.sub_info > * + * {
  margin-left: 1rem;
}

.info > * {
  margin-bottom: 0.5rem;
}

.info span {
  color: #696969;
}

@media (min-width: 40em) {
  .movie_detail {
    flex-direction: row;
  }

  .movie_detail > * + * {
    margin-left: 2em;
  }
}
