.movie_item {
  background-color: #0f1622;
}

.movie_item a {
  display: flex;
  align-items: center;
  color: #e5e5e5aa;
  text-decoration: none;
  padding-block: 0.25rem;
}

.movie_item:first-of-type a {
  padding-top: 0;
}

.movie_item:last-of-type a {
  padding-bottom: 0;
}

.movie_item img {
  display: block;
  width: 2.5rem;
  max-width: 100%;
}

.movie_item p {
  font-size: 0.8rem;
}

.movie_item a > * + * {
  margin-left: 1rem;
}

.movie_item a:hover {
  background-color: #192436;
}
