.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* .wrapper main {
  margin-inline: auto;
  width: min(90%, 40rem);
} */

/* main > div {
  padding-top: 2rem;
} */

/* main > .container section {
  margin-top: 3rem;
} */
