@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #020916;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* UTILITIES */

section {
  padding: 3rem 0;
}

.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.text-yellow {
  color: #fca311;
}

.text-secondary {
  color: #e5e5e5;
}
