*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: sans-serif;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

section {
  padding: 3rem 0;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.container {
  margin-inline: auto;
  width: min(90%, 40rem);
}

.margin-top {
  margin-top: 0.5rem;
}
